<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chat Bot</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">
    <link href="css/navBarDropdown.css" rel="stylesheet"

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Mindlife</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#services">Services</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>-->
            <!--</li>-->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--<header class="masthead text-center text-white d-flex" style="background:linear-gradient(to left, #B4A8FF, #886DD6); background-image: transparent">-->
    <!--  <div class="container my-auto">-->
    <!--    <div class="row">-->
    <!--      <div class="col-lg-10 mx-auto">-->
    <!--        <h1 class="text-uppercase">-->
    <!--          <strong>Chat Bot</strong>-->
    <!--        </h1>-->
    <!--        <hr>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</header>-->

    <section class="bg-primary" id="chatBot" style="height: 250vh">
        <img src="../img/cute.png" style="padding-left: 1rem">
        <h4 style="display: inline">Hello, I'm Alex, the friendly bot!</h4>
        <br><br>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
              <div style="bottom: 5rem">
                <%for m in @history.split("\n")%>
                    <%if @history.split("\n").index(m) % 2 == 1%>
                        <h4 style="text-align: left">Me: <%=m%></h4>
                    <%elsif @history.split("\n").index(m) != 0%>
                        <h4 style="text-align: left">The Friendly Bot: <%=m%></h4>
                    <%end%>
                <%end%>
             </div>
              <form class="form-inline" method="POST" action="/ask" style="position:fixed; bottom: 2rem; width:100%; left: 2rem">
                  <input type="text" name="message" placeholder="Message" style= "width: 90%">
                  <input type="hidden" name="messageNum" value=<%=@num%>>
                  <input type="hidden" name="history" value="<%=@history%>">
                  <input type="submit" class = "btn btn-default" >
              </form>
          </div>
          
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
